.slideshow {
    margin: 0 auto;
    overflow: hidden;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Buttons */

.prevBtn {
    position: absolute;
    top: 50%;
    left: 4%;
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 4%;
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #1e3a8a;
}