.bg{
    display: grid;
   width: 100%;
   background-size: cover;
   height: 500px;
   
  
        /* background-image: url("doc_bg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 1200px; */
      
       
}