.packes{
    background-image: url(../../image/package-banner.png);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.location{
    color: rgb(78, 78, 78);
}

.includes{
    color: rgb(170, 170, 170);
}

.packes-card{
    border-left: 1px solid green;
    border-top: 1px solid purple;
    border-right: 1px solid black;
    border-bottom: 1px solid blue;
}

.package{
    background-image: url(../../image/package-bg.png);
}

.detailsPages{
    background-image: url(../../image/detailsPagesBg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.des{
    background-color: #00b7ac;
}