.home-gallery {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #034ea1;
}

.gallery-home.active {
    background: #0c51a0;
    color: #fff;
    text-decoration: none;
    border: 1px solid #0c51a0;
}

.gallery-home {


    color: #000;
    padding: 10px 15px;
    background: #f2f2f2;
    text-decoration: none !important;
    border: 1px solid #0c51a0;
}

.text-center {
    text-align: center !important;
}