.br {
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
}


.fl {

    display: flex;
    align-items: center;

}

@media screen and (min-width: 600px) {
    .one {

        display: grid;
        grid-template-columns: 75% 25%;
    }

    .three {

        display: grid;
        grid-template-columns: 50% 50%;
    }

}

@media (min-width: 20px) and (max-width: 559px) {



    /* … */
}